<script src="js/lib/jquery-3.2.1.min.js"></script>
<script src="js/lib/pixi.min.js"></script>
<script src="js/aliases.js"></script>
<script src="js/pizza.js"></script>
<script>
    //globals
    //TODO make a more elegant version vs using globals
    var renderer, pizza;

    function setupCanvas() {
        var renderer = autoDetectRenderer(500, 500);
        renderer.view.style.position = "absolute";
        renderer.view.style.display = "block";
        renderer.autoResize = true;

        //set the background color of the canvas
        renderer.backgroundColor = 0x555555;

        //give the canvas a dashed border
        renderer.view.style.border = "1px dashed black";

        //Add the canvas to the HTML document
        document.body.appendChild(renderer.view);

        return renderer;
    }

    $(document).ready(function(){
        renderer = setupCanvas();
        var stage = new Container();
        pizza = getPlainPizza(renderer);
        var cuts = cutPizza(pizza, 8); //TODO get cuts from user
        stage.addChild(pizza);
        //stage.addChild(cuts);
        renderer.render(stage);
    })

</script>

